.container{
    background: linear-gradient(#5A8692,#6FA6B6);
    width: 60vw;
    min-height: 50vh;
    -webkit-box-shadow: 0px 5px 10px 7px rgba(5, 138, 240, 0.2);
    -moz-box-shadow: 0px 5px 10px 7px rgba(5, 138, 240, 0.2);
    box-shadow: 0px 5px 10px 7px rgba(5, 138, 240, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}


.display{
    width: 80%;
    min-height: 30vh;
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #41616B;
    font-size: 20px;
}
.buttons{
    width: 40%;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 40%;
    min-height: 5vh;
    border: solid #41616B;
    border-radius: 20px;
    background-color: #2981BA;
    cursor: pointer;
    transition: 300ms ease;
}
.buttons :hover {
    transform: scale(1.1);
}
@media screen and (max-width: 700px) {
    .container{
        /*width: 70vw;*/
    }

    .btn{
       min-width: 70px;
       min-height: 5vh;
   }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 20px;
    }
}
@media screen and (max-width: 500px) {
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap : 20px;
    }
}